h1 {
    text-align: center;
}

.balance-sheet-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1rem;
    text-align: left;
  }
  
  .balance-sheet-table th,
  .balance-sheet-table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
  }
  
  .section-title {
    background-color: #f2f2f2;
    text-align: left;
    font-size: 1.1rem;
    padding: 10px;
  }
  
  .row-index {
    font-weight: bold;
    text-align: center;
  }
  
  .cell-name {
    text-align: left;
    padding-left: 15px;
  }
  
  .cell-values {
    text-align: right;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tbody tr:hover {
    background-color: #f1f1f1;
  }
  